/* Toast nền đen, icon trái, thanh màu */
.custom-toast {
    position: relative;
    display: grid;
    grid-template-columns: 60px 1fr auto;
    align-items: center;

    width: 17vw;
    padding: 12px 16px;
    border-radius: 8px;

    margin-bottom: 10px;

    color: #fff;
    font-family: sans-serif;
    overflow: hidden;
}
.success-toast {
    background: linear-gradient(
        to right,
        #143a11 5%,
        #1bac05 35%,
        #5bf658 60%,
        rgba(255, 255, 255, 0) 100%
    );
    color: #ffffff; /* White text */
}

/* Error toast */
.error-toast {
    background: linear-gradient(
        to right,
        #5d1414 10%,
        #981b1b 30%,
        #ed3535 60%,
        rgba(0, 198, 255, 0) 100%
    ); /* Red for error */
    color: #ffffff; /* White text */
}

/* Warning toast */
.warning-toast {
    background: linear-gradient(
        to right,
        #7b6210 10%,
        #c5a51b 30%,
        #f9e230 60%,
        rgba(0, 198, 255, 0) 100%
    ); /* Yellow for warning */
    color: #212529; /* Dark text for contrast */
}

/* Icon toast: căn trái và giữa */
.Toastify__toast-icon {
    margin-left: 8px;
    font-size: 22px;
    color: #00c6ff;
}

/* Nút đóng */
.Toastify__close-button {
    color: white;
    font-size: 18px;
}

/* Các màu phân biệt */
.success-toast {
    border-color: #4caf50;
}
.error-toast {
    border-color: #f44336;
}
.info-toast {
    border-color: #2196f3;
}
.warning-toast {
    border-color: #ff9800;
}

/* Thanh progress */
.Toastify__progress-bar {
    height: 4px;
    border-radius: 2px;
    --color: #0072ff;
    background-image: linear-gradient(to right, #00c6ff, #0072ff);
}

/* Nút close */
.Toastify__close-button {
    color: #fff;
}
